*{
  box-sizing: border-box;  /* чтобы экран не прыгал  */
}
html {
  height: 100%;
}
.App {
  background-image: url("../public/bookBackground.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 2px #8c1b21, 0 2px 2px #8c1b21, -2px 0 2px #8c1b21,
    0 -2px 2px #8c1b21;
}
.choice_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border: 0.5px solid white;
  background-color: rgba(255, 255, 255, 0.6);
}
.choice_input div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}
.choice_inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}
